@model Alaska.Web.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomEmpleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomEmpleado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CedEmpleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CedEmpleado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApeEmpleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApeEmpleado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdadEmpleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdadEmpleado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
